body {
  background-color: #28947f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
  font-family: "Ubuntu", sans-serif;
  color: #081c15;
}

* {
  box-sizing: border-box;
}

button {
  user-select: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  transition: all 250ms;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #081c15;
}

button:hover,
button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* reset buton */
#btn-reset {
  background-color: #ff8f1c;
  margin: 0;
  padding: 10px 20px;
  font-size: large;
  color: #ffff;
}

#btn-reset:active {
  background-color: #df5916;
}

/* attempts buttons */
#attempts {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  gap: 15px;
}

.btn-numbers {
  font-size: 1.5rem;
  padding: 5px 10px;
  background-color: #f87a63;
  color: #ffff;
}

.btn-numbers:active {
  background-color: #d32e05;
}

div {
  margin: 0;
}

/* score */
#score {
  display: flex;
  height: 8rem;
  gap: 2rem;
}

#player > div,
#tie > div,
#computer > div,
#tiePoints {
  font-weight: 700;
  font-size: 2rem;
}

#player > div {
  color: #bfdbf7;
}

#computer > div {
  color: #ffcad4;
}

#tie > div {
  color: #ffee99;
}

#tiePoints {
  margin-top: 0.1rem;
  color: #ffff;
}

.empty-circle,
.x-circle {
  height: auto;
  width: 2.3rem;
}

#player,
#tie,
#computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#crown {
  height: auto;
  width: 3rem;
}

/* options */
#options {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}
#btn-rock,
#btn-paper,
#btn-scissors {
  border-radius: 30%;
  background-color: transparent;
}

#btn-rock > img,
#btn-paper > img,
#btn-scissors > img {
  height: auto;
  width: 8rem;
}

#btn-rock:hover,
#btn-rock:focus,
#btn-paper:hover,
#btn-paper:focus,
#btn-scissors:hover,
#btn-scissors:focus {
  box-shadow: none;
}
